.title {
  color: white;
}

.text {
  color: white;
  width: 90%;
  margin: auto;
}

.image-container {
  position: relative; /* You can adjust this value to control the height of the image container */
}

/* Style the image */
.image-container img {
  position: fixed; /* or position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  margin: auto;
  z-index: -2; /* Adjust the z-index as needed */
}

/* Create the image overlay */
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background to make text readable */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white; /* Text color on the overlay */
}

/* Style the title and description */
.image-overlay .navbar .button-overlay {
  margin: 5px; /* Adjust as needed */
  text-align: center;
  transform: translateY(30px); /* Move the title 10 pixels up */
  z-index: -1;
}
/* Style the title and description */
.image-overlay h1,
.image-overlay p {
  margin: 10px; /* Adjust as needed */
  text-align: center;
  transform: translateY(10px); /* Move the title 10 pixels up */
}

.button-overlay button {
  margin: 10px; /* Adjust as needed */
  text-align: center; /* Move the title 10 pixels up */
}

.button-overlay .home-button {
  margin: 80px;
  text-align: center;
}

.home-button {
  padding: 10px;
  font-size: 20px;
  background-color: #ff2400;
  color: white;
  border: none;
  border-radius: 7px;
  transition: all 0.3s ease-in;
  font-family: "Komika";
}

.home-button:hover {
  cursor: pointer;
  background-color: #ff4e33;
}
