/* .splash-screen {
  position: absolute;
  top: 0;
  z-index: 5;
  background-image: url(https://wallpapercave.com/dwp1x/wp9212041.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
} */
