.splash-screen {
  position: absolute;
  top: 0;
  z-index: 5;
  background-image: url("../../images/marvel-loading.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.slide-container {
  background-color: rgba(0, 0, 0, 0.817);
  width: 95%;
  margin: auto;
  color: white;
  padding-top: 10px;
}

.one-comic {
  display: flex;
  justify-content: space-around;
}
.comic-image {
  width: 35%;
}
.one-comic img{
  width: 100%;
  height: 500px;
  margin-bottom: 50px;
}

.comicsTitle {
  width: 30%;
  margin: auto;
}
.comic-detail {
  width: 50%;
  text-align: left;
}

.writer {
  display: flex;
}

.writer div {
  margin-right: 80px;
}
