.modal-tab {
  display: flex;
  height: 100%;
  font-family: "Komika";
}

.modal-tab h2 {
  font-size: 28px;
}

.modal-holder-profile {
  min-width: 20%;
  margin: 0 20px;
  padding: 20px 0;
}

.modal-holder-characters {
  width: 26%;
}

.modal-holder-characters .character-card {
  height: 400px;
}

.popup-image-div {
  width: 85%;
}

.popup-image {
  width: 100%;
}

.modal-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.modal-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  width: 60%;
}

.fav-and-variants {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.comics-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 52%;
  border-radius: 15px;
  background-color: #dedddd;
  border: 3px solid #6b52a5;
}

.comics {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 80%;
  width: 75%;
  padding: 10px 20px;
  margin-bottom: 30px;
  background-color: white;
  border: 1px solid black;
  overflow-y: scroll;
}

.comics-div {
  width: 95%;
}

.comics p {
  width: 90%;
  margin: auto;
}

.comicSearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.comicSearch input {
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
}

.release h3 {
  padding-top: 40px;
}

.modal-favorite {
  transform: scale(3);
}

.variants-btn {
  font-size: 26px;
}

.close-button {
  font-size: 26px;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #00a000;
  color: white;
  box-shadow: 3px 3px 3px #006600;
  transition: all 0.3s ease-in;
}

.close-button:hover {
  transform: scale(1.1);
  background-color: #00cc00;
  font-size: 30px;
  cursor: pointer;
}

.close-button:active {
  background-color: #00a000;
  transform: translateY(3px);
}

.variants-button {
  font-size: 20px;
  width: 180px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #00a000;
  color: white;
  box-shadow: 3px 3px 3px #006600;
  transition: transform 0.3s ease-in;
  font-family: "Komika";
}

.variants-button:hover {
  transform: scale(1.1);
  background-color: #00cc00;
  cursor: pointer;
  font-size: 20px;
}

.variants-button:active {
  background-color: #00a000;
  transform: translateY(3px);
}

.variantImg {
  width: 200px;
  height: 250px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border: 3px solid #6b52a5;
}

.variantsMapStart {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  width: 1200px;
  height: 400px;
  overflow-x: scroll;
}

.variantsMapCentre {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 1200px;
  height: 400px;
  overflow-x: scroll;
}

.variantItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  justify-content: center;
  margin: 0px 20px;
}

.variant-tab {
  font-family: "Komika";
  font-size: 14px;
}

.variant-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.variants-bot {
  display: flex;
  justify-content: center;
  margin: 100px 20px 0px 0px;
  align-items: center;
}

.closeVariants {
  margin: 0px 80px;
}

.variantsMid {
  display: flex;
  justify-content: center;
  background-color: #dedddd;
  border: 2px solid grey;
}

.textDiv {
  height: 30px;
}
