.nav-wrapper {
  background-color: #0074d9;
  border-bottom: 2px solid #6b52a5;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  margin: auto;
  background-color: #0074d9;
  padding: 30px;
}

.navbar-icon {
  transform: scale(1.5);
  color: #ff2400;
}

.navbar-icon:hover {
  cursor: pointer;
  transform: scale(1.8);
}

.button {
  padding: 10px;
  font-size: 20px;
  background-color: #ff2400;
  color: white;
  border: none;
  border-radius: 7px;
  transition: all 0.3s ease-in;
  font-family: "Komika";
}

.button:hover {
  cursor: pointer;
  transform: scale(1.2);
}
