
@font-face {
  font-family: "Komika";
  src: url("/src/fonts/komika/KOMIKAH_.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
  font-family: "Komika", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.charBtn {
  background-color: #6b52a5;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
}

.searchDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px;
}

.searchCard{
  border: 2px solid black;
  background-color: #dedddd;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

label{
  margin-bottom: 20px;
}

.searchDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px;
}

.searchCard{
  border: 2px solid black;
  background-color: #dedddd;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

label{
  margin-bottom: 20px;
}

.card-container{
  background-color: #dedddd;
  padding: 30px;
  width: 90%;
  border: 2px solid black;
  margin-bottom: 50px;
}

.charPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popChar{
  width: 80%;
}

.background{
  position: fixed;
  top: 0;
  z-index: -2;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.navMargin{
  margin-bottom: 150px;
  
}

.groot{
  height: 100px;
}